fondo = #E4E2EB
texto = #12313E
body
	background fondo
	color texto
	font-family Myriad Pro

header
	position relative
	.name
		color #296857
		font-size 61.8px
		font-weight normal
		margin-left 10px
		pisition absolute

	.subtitulo
		bottom -25px
		color #5EA290
		font-size 19.35px
		font-weight normal
		position absolute
		left 10.5em
		right 0
div
	background #368B74
	display block
	height 41px
	margin-left 10px
	position relative
	width 198px
	&:before
		border-bottom 20px solid transparent
		border-right 7px solid fondo
		border-top 20px solid transparent
		content ""
		left 191px
		position absolute
		top 0
	&:after
		border-bottom 20px solid transparent
		border-left 7px solid fondo
		border-top 20px solid transparent
		content ""
		left 0px
		position absolute
		top 0
		
	
.text
	color #E9F6FB
	font-size 20.1px
	position absolute
	left 25px
	text-decoration none
	top 15%



	





